* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* Card */
.card {
  min-width: 300px;
  max-width: 600px;
  width: 85%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: start;
  padding: 20px;
  border-left: brown 5px solid;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* Card Image & Text */
.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card h2 {
  margin: 5px 0;
  font-size: 1.5em;
}

.card h3 {
  margin: 3px 0;
  font-size: 1.1em;
}

.card p {
  color: #555;
  font-size: 1em;
}
.card button {
  background: brown;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
.card button:hover {
  background: brown;
}

/* card content */
.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* icon style */
i {
  font-size: 1.3em;
  color: brown;
  margin-right: 3px;
}

/* card info */
.card-info {
  display: flex;
  gap: 30px;
  color: #555;
}

.card-info span {
  display: flex;
  align-items: center;
  gap: 2px;
}

/* card footer */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  color: #555;
  color: #555;
}

.card-footer .social-links {
  display: flex;
  gap: 10px;
}

.card-footer .current-time {
  font-size: 0.8em;
}

.card-footer .social-links i:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

/* Media Queries */
@media screen and (max-width: 655px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #555;
  }

  .card-info span {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}
